version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: your_container_name
    restart: always
    environment:
      POSTGRES_USER: your_user
      POSTGRES_PASSWORD: your_password
      POSTGRES_DB: your_db
    ports:
      - "4999:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: